<div class="header">
  <div class="logo-container">
    <img
      src="https://res.cloudinary.com/ddsrofo4o/image/upload/v1746899760/logo-2_eprvqp.png"
      alt="Firefly Logo"
      class="logo"
    />

    <!-- إذا المستخدم مش مسجّل دخول -->
    <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="login-button">
      {{ "login.button" | translate }}
    </a>

    <!-- إذا المستخدم مسجّل دخول -->
    <div *ngIf="isLoggedIn" class="user-info">
      <span class="username"> 👋{{ username }}</span>
      <a (click)="logout()" class="login-button">Logout</a>
    </div>
  </div>

  <a [routerLink]="['/']" class="header-title">
    {{ "header.title" | translate }}
  </a>

  <div *ngIf="isLoggedIn" class="cart-container">
    <a *ngIf="isAdmin" (click)="gotoAddProduct()" class="addProduct"
      >Add Product</a
    >
    <a (click)="goToCart()">
      🛒
      <span *ngIf="isLoggedIn" class="cart-count">{{ cartCount }}</span>
    </a>
  </div>
</div>
