.app-footer {
  background-image: linear-gradient(to right, #d92b2ba9, #5e1414, #1a1a1a);
  color: #080808;
  padding: 15px 20px;
  text-align: center;
  font-family: "Courier New", monospace;
  margin-top: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.lang-switch {
  color: #000000;
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

.lang-switch:hover {
  color: #d92b2b;
}

.lang-switch a:hover {
  color: #0b0b0b;
}
