<div class="container">
  <form [formGroup]="signUp" (ngSubmit)="signUpFun()">
    <input
      type="username"
      formControlName="username"
      [placeholder]="'login.username' | translate"
    />
    <div
      *ngIf="signUp.get('username')?.invalid && signUp.get('username')?.touched"
    >
      <small *ngIf="signUp.get('username')?.errors?.['required']"
        >Username is required</small
      >
      <small *ngIf="signUp.get('username')?.errors?.['minlength']">
        Username must be at least 3 characters
      </small>
    </div>
    <input
      type="email"
      formControlName="email"
      [placeholder]="'login.email' | translate"
    />
    <div *ngIf="signUp.get('email')?.invalid && signUp.get('email')?.touched">
      <small *ngIf="signUp.get('email')?.errors?.['required']"
        >Email is required</small
      >
      <small *ngIf="signUp.get('email')?.errors?.['email']"
        >Invalid email format</small
      >
    </div>
    <input
      type="number"
      formControlName="phoneNumber"
      [placeholder]="'signin.phoneNumber' | translate"
    />
    <div
      *ngIf="
        signUp.get('phoneNumber')?.invalid && signUp.get('phoneNumber')?.touched
      "
    >
      <small *ngIf="signUp.get('phoneNumber')?.errors?.['required']"
        >Phone Number is required</small
      >
    </div>

    <input
      type="password"
      formControlName="password"
      [placeholder]="'login.password' | translate"
    />
    <div
      *ngIf="signUp.get('password')?.invalid && signUp.get('password')?.touched"
    >
      <small *ngIf="signUp.get('password')?.errors?.['required']"
        >Password is required</small
      >
      <small *ngIf="signUp.get('password')?.errors?.['minlength']">
        Password must be at least 6 characters
      </small>
    </div>

    <button type="submit" [disabled]="signUp.invalid">
      {{ "login.button2" | translate }}
    </button>
  </form>
</div>
<p-toast></p-toast>
