<!-- <div *ngFor="let item of cartItems">
  <p>{{ item.name }} ({{ item.quantity }} × {{ item.price }}$)</p>
  <p><strong>المجموع:</strong> {{ item.total }}$</p>
</div>

<hr />
<h3>الإجمالي الكلي: {{ getTotal() }}$</h3>

<button (click)="clearCart()">تم ارسال الطلب</button> -->
<div class="page-wrapper">
  <div class="cart-container" *ngIf="cartItems.length > 0; else emptyCart">
    <h2>{{ "cart.active" | translate }}</h2>

    <div class="cart-items">
      <div class="cart-item" *ngFor="let item of cartItems; let i = index">
        <div class="item-info">
          <h4>{{ item.name }}</h4>
          <p>{{ "cart.quantity" | translate }}: {{ item.quantity }}</p>
          <p>
            {{ "cart.price" | translate }}: {{ item.price | currency : "USD" }}
          </p>
          <p>
            {{ "cart.total" | translate }}: {{ item.total | currency : "USD" }}
          </p>
        </div>
        <button (click)="removeItem(i)">
          {{ "cart.button2" | translate }}
        </button>
      </div>
    </div>

    <div class="cart-summary">
      <p>{{ "cart.numberOfItems" | translate }} : {{ cartItemCount }}</p>

      <p>{{ "cart.grandTotal" | translate }}: {{ total | currency : "USD" }}</p>
      <button (click)="clearCart()">{{ "cart.button" | translate }}</button>
    </div>
  </div>

  <!-- حالة السلة الفارغة -->
  <ng-template #emptyCart>
    <div class="empty-cart">
      <h3>{{ "cart.cart" | translate }} 🛒</h3>
      <p>{{ "cart.dis" | translate }}</p>
    </div>
  </ng-template>
</div>
