.housing-card {
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* 👈 يخلي شكل الرابط أنيق */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  width: 90%; /* 👈 عرض نسبي للشاشة */
  max-width: 600px; /* 👈 أقصى عرض */
  padding: 6px;
  margin: 20px auto;
}

.housing-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.housing-card img {
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.housing-details {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  color: #e9c664;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;

  flex-direction: column;
  gap: 10px;
}

.label {
  color: #e9c664;
  font-weight: bold;
}

.value {
  color: #ffffff;
  font-weight: bold;
}

// .cart-button {
//   background-color: #e9c664;
//   color: #000;
//   border: none;
//   padding: 10px 20px;

//   border-radius: 5px;
//   cursor: pointer;
//   transition: background-color 0.3s ease;
//   justify-content: center;
//   display: block;
//   margin: 20px auto 0;
// }
.container {
  background-image: url("https://res.cloudinary.com/ddsrofo4o/image/upload/v1747396701/WhatsApp_Image_2025-05-12_at_9.54.38_PM_wn2bbh.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.button-quintity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    background-color: #e9c664;
    color: #000;
    border: none;
    padding: 6px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  margin-bottom: 49px;
}
.quantity-form input[type="number"] {
  width: 5ch; /* أو 5ch إذا بدك أكبر */
  text-align: center;
  padding: 4px 6px; /* قللت البادينج عشان ما يقل العرض */
  font-size: 1rem;
  box-sizing: border-box;
  background-color: #e9c664;
  color: #000;
  border: none;
  border-radius: 3px;
  outline: none;
}
