form {
  border: 4px;
  padding: 90px;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #5e1414;
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

input {
  padding: 20px;
  border: 1px solid #5e1414;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 16px;
  font-family: inherit;
}

input::placeholder {
  color: #000000aa;
  font-weight: bold;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #5e1414;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #5e1414b3;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #5e1414b3;
}

p-toast {
  margin-top: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* يوسّط المحتوى عموديًا */
  min-height: 85vh; /* يخلي العنصر يغطي كامل الشاشة */
  background-image: url("/assets/i18n/images/back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
